<section class="login-component">
    <form class="clearfix login-content" layout="column">
        <legend class="form-title">登录</legend>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-user" style="width:14px;"></i>
                </span>
                <input type="text" class="form-control mw-fs-16" placeholder="登录帐号" [(ngModel)]="model.userName" name="userName"/>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="fa fa-key"></i>
                </span>
                <input type="password" class="form-control mw-fs-16" placeholder="密码" [(ngModel)]="model.password" name="password"/>
            </div>
        </div>
        <div layout="row" layout-align="start center">
            <div class="checkbox checkbox-primary text-left" flex="33">
                <input type="checkbox" [(ngModel)]="model.autoLogin" id="autoLogin" name="autoLogin">
                <label for="autoLogin">保持登录</label>
            </div>
            <button type="button" flex="66" class="btn btn-primary" (click)="login()">
                <i class="fa fa-sign-in"></i>
                <span>登录</span>
            </button>
        </div>
    </form>
    <div class="session-links" layout="row" layout-align="space-between center">
        <a routerLink="/dashboard-pro">创建新账号</a>
        <a href="">忘记密码</a>
    </div>
</section>
