@import '../../styles/scss/color-const.scss';

.mw-order-detail-component{
	.order-detail-wrap{
		padding:10px 15px;
		margin-bottom:15px;
		background-color:#fff;
	}
	.total-money{
		padding:10px 15px;
	}
}