@import '../../../shared/styles/scss/variables.scss';
@import '../../../shared/styles/scss/color-const.scss';
$side-menu-width:230px;
$side-menu-width-small: 60px;

.dashboard-pro.mw-small {
    padding-left: $side-menu-width-small;
}

.dashboard-pro,
.mw-sidebar,
md-toolbar,
.mw-toolbar,
.menu-header {
    transition: all 0.2s;
}

.dashboard-pro {
    padding-top: $toolbar-height;
    padding-left: $side-menu-width;
    background: #EAEBEC;
    md-toolbar {
        padding: 0;
        md-toolbar-row {
            height: $toolbar-height;
        }
    }
    .mw-sidebar {
        width: $side-menu-width;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        background: #2b333d;
        // md-toolbar {
        //     md-toolbar-row {
        //         text-align: center;
        //         i {
        //             color: #fff;
        //         }
        //     }
        //     background: #2b333d;
        // }
        .menu-header {
            height: 50px;
            text-align: center;
            i {
                color: #fff;
            }
            background: #2b333d;
        }
        .menu-item {
            color: #c5d0de;
            text-decoration: none;
            padding: 7px 15px;
            line-height: 24px;
            padding-left: 22px;
            display: block;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .menu-item.selected,
        .menu-item:hover {
            color: #fff;
            background: #24272d;
        }
    }
    .mw-sidebar.mw-small {
        width: $side-menu-width-small;
    }
    .mw-body {
        //min-height: 100vh;
        width: 100%;
        .mw-toolbar {
            z-index: 4;
            background: white;
            height: $toolbar-height;
            min-height: $toolbar-height;
            position: fixed;
            left: $side-menu-width;
            right: 0;
            top: 0;
            box-shadow: $mw-toolbar-shadow;
            opacity: 0.9;
            .username-dropdown {
                min-width: 180px;
                .avatar-circle-small{
                    margin-right:10px;
                    margin-top: 5px;
                    img{
                        // height: 40px;
                        // width: 40px;
                        margin-top: 5px;
                    }
                }
                a {
                    color: $default-text;
                }
            }
        }
        .mw-toolbar.mw-small {
            left: $side-menu-width-small;
        }
        .mw-content {
            min-height: calc(100vh - 50px);
        }
    }
}
