<div class="order-item-component" layout="column">
    <div class="form-group" layout="row">
        <div class="input-group" flex="35">
            <span class="input-group-addon">
                <i class="fa fa-file"></i>
            </span>
            <!-- <input [(ngModel)]="orderItem.itemModel.name" type="text" class="form-control" placeholder="名称" name="itemName" disabled/> -->
            <span class="form-control cursor-disabled">{{orderItem.itemModel.name}}</span>
        </div>
        <div class="input-group" flex="15">
            <input [(ngModel)]="orderItem.itemModel.price" type="number" class="form-control" placeholder="单价" name="itemPrice" />
            <span class="input-group-addon">
                <i class="fa fa-cny"></i>
            </span>
        </div>
        <div layout="row" flex="45" class="margin-left-10">
            <div class="input-group" flex="66">
                <input [(ngModel)]="orderItem.count" type="number" class="form-control" placeholder="数量" name="itemCount" />
                <span class="input-group-addon">个</span>
            </div>
            <div class="input-group" flex="33">
                <input [(ngModel)]="orderItem.totalMoney" type="number" class="form-control" placeholder="小计" name="itemTotalPrice" />
                <span class="input-group-addon">
                    <i class="fa fa-cny"></i>
                </span>
            </div>
        </div>
    </div>
    <div layout="row">
        <div flex="35" layout="row" layout-align="start end">
            <div class="checkbox checkbox-primary" flex layout="row" layout-align="start center">
                <input type="checkbox" [(ngModel)]="orderItem.overtime" [id]="orderItem.overtimeId">
                <label [for]="orderItem.overtimeId">加钟</label>
            </div>
        </div>
    	<span flex="15" class="margin-left-10 form-group">
    		支付方式：
    	</span>
    	<div layout="column" flex="45" class="margin-left-10">
    		<div layout="row" class="form-group" *ngFor="let item of orderItem.payList;trackBy:trackByPayItem;let idx=index;">
    			<div class="input-group" flex="66">
    				<span class="input-group-addon mw-click" (click)="removePayItem(idx)" tooltip="删除支付方式">
            		    <i class="fa fa-minus-circle"></i>
            		</span>
                    <template #toolTipTemplate let-model="model">
                        <div>折扣优惠:{{model.discountMoney|mwCurrency}}</div>
                        <div>卡扣:{{model.cardMoney|mwCurrency}}</div>
                    </template>
        		    <!-- <input [ngModel]="item.getPayInfo(order.store.id)" type="text" class="form-control" placeholder="支付方式" name="itemCount" disabled /> -->
                    <span class="form-control cursor-disabled" [tooltipHtml]="toolTipTemplate" [tooltipContext]="item" [tooltipEnable]="item.hasTip" tooltipClass="mw-tooltip">
                        {{item.getPayInfo(order.store.id)}}
                    </span>
        		</div>
        		<div *ngIf="!item.noInputMoney" class="input-group" flex="33" [tooltipHtml]="toolTipTemplate" [tooltipContext]="item" [tooltipEnable]="item.hasTip" tooltipClass="mw-tooltip">
        		    <input [(ngModel)]="item.payMoney" type="number" class="form-control" placeholder="支付金额" />
        		    <span *ngIf="item.moneyOrTimes=='money'" class="input-group-addon">¥</span>
                    <span *ngIf="item.moneyOrTimes=='times'" class="input-group-addon">次</span>
        		</div>
    		</div>
    		<div>
                <span (click)="addMorePayItem($event)" class="mw-click mw-primary" tooltip="添加微信、支付宝、卡和券等更多支付方式">
                    <i class="fa fa-plus-circle"></i>
                    更多支付方式
                </span>
            </div>
    		<div layout="row">
    			<span flex="66" class="text-right">还需支付：</span>
    			<span flex="33" class="margin-left-10 mw-price">{{orderItem.unPayMoney | mwCurrency}}</span>
    		</div>
    		<br>
    		<div>
    			<span (click)="addEmployeeClick($event)" class="mw-click" tooltip="增加或修改服务人员">
                    <span>服务人员：</span>
                    <span *ngIf="!orderItem.employeeList || orderItem.employeeList.length==0">未指定服务人员；</span>
                    <span *ngFor="let empItem of orderItem.employeeList;let isLast=last;">
                        <span>{{empItem.employee.name}}({{empItem.appoint|mwAppointType}})</span>
                        <span *ngIf="!isLast">;</span>
                    </span>
                </span>
    		</div>
    	</div>
    </div>
    <div class="item-close mw-fs-20" (click)="removeSelf()"><i class="fa fa-close"></i></div>
</div>
