@import '../../../shared/styles/scss/variables.scss';
@import '../../../shared/styles/scss/color-const.scss';

.order-list-component {
    padding: 10px 0;
    .order-list-content{
    	padding: 0 20px;
    	.side-bar-button{
    		margin-right:20px;
    	}
        .member-name{
            color: $male;
        }
    }
    .side-bar{
        width:$side-bar-width;
        overflow-x: hidden;
        div{
            min-width: $side-bar-width;
        }
    }
}