@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?v=6'); /* IE9*/
  src: url('./iconfont.eot?#iefix&v=3') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?v=6') format('woff'), /* chrome、firefox */
  url('./iconfont.ttf?v=6') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./iconfont.svg#iconfont&v=3') format('svg'); /* iOS 4.1- */
}
[class^="icon-"], [class*=" icon-"] {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
}

.icon-zhuanfa:before { content: "\e65c"; }
.icon-shanhui_pay:before { content: "\e640"; }
.icon-touxiang:before { content: "\e64a"; }
.icon-chanpin:before { content: "\e62f"; }
.icon-14052229:before { content: "\e635"; }
.icon-booking_time:before { content: "\e638"; }
.icon-booking_customer:before { content: "\e639"; }
.icon-youjian:before { content: "\e646"; }
.icon-jianhao:before { content: "\e648"; }
.icon-duigou:before { content: "\e634"; }
.icon-e641:before { content: "\e659"; }
.icon-biaoqian:before { content: "\e60e"; }
.icon-youhuiquan:before { content: "\e663"; }
.icon-xiaolvdashiicon02:before { content: "\e660"; }
.icon-dianhua:before { content: "\e60f"; }
.icon-fanhui:before { content: "\e624"; }
.icon-qq:before { content: "\e63a"; }
.icon-jilu:before { content: "\e65a"; }
.icon-other_pay:before { content: "\e641"; }
.icon-xianzhaguozhi:before { content: "\e64f"; }
.icon-jiahao:before { content: "\e649"; }
.icon-shourumingxi:before { content: "\e65d"; }
.icon-quan:before { content: "\e63e"; }
.icon-zhifubao_pay:before { content: "\e645"; }
.icon-weixin:before { content: "\e647"; }
.icon-alluser:before { content: "\e65e"; }
.icon-excel:before { content: "\e628"; }
.icon-touxiang1:before { content: "\e64b"; }
.icon-lingshi:before { content: "\e650"; }
.icon-nan:before { content: "\e626"; }
.icon-iconfontnv2:before { content: "\e62b"; }
.icon-zhifuchenggong:before { content: "\e636"; }
.icon-wifi:before { content: "\e651"; }
.icon-xiangmu:before { content: "\e630"; }
.icon-weizhi2:before { content: "\e610"; }
.icon-dazhong_pay:before { content: "\e642"; }
.icon-baidu_pay:before { content: "\e643"; }
.icon-booking_record:before { content: "\e63b"; }
.icon-zhichumingxi:before { content: "\e662"; }
.icon-kaxiang:before { content: "\e631"; }
.icon-tishi:before { content: "\e637"; }
.icon-QrCode:before { content: "\e65b"; }
.icon-meituan_pay:before { content: "\e644"; }
.icon-jian:before { content: "\e633"; }
.icon-qing:before { content: "\e600"; }
.icon-qingye:before { content: "\e601"; }
.icon-yinye:before { content: "\e602"; }
.icon-daxue:before { content: "\e603"; }
.icon-xiaoxue:before { content: "\e604"; }
.icon-yujiaxue:before { content: "\e605"; }
.icon-leizhenyu:before { content: "\e606"; }
.icon-dayu:before { content: "\e607"; }
.icon-zhongyu:before { content: "\e608"; }
.icon-xiaoyu:before { content: "\e609"; }
.icon-yin:before { content: "\e60a"; }
.icon-duoyun:before { content: "\e60b"; }
.icon-shachen:before { content: "\e60c"; }
.icon-wu:before { content: "\e60d"; }
.icon-chuangjianhuiyuan:before { content: "\e611"; }
.icon-kaiqia:before { content: "\e612"; }
.icon-lijiyuyue:before { content: "\e613"; }
.icon-kaidan:before { content: "\e614"; }
.icon-tianjiazidingyi:before { content: "\e615"; }
.icon-miandan:before { content: "\e616"; }
.icon-weixinhuodong:before { content: "\e617"; }
.icon-qiankuan:before { content: "\e618"; }
.icon-zengsong:before { content: "\e619"; }
.icon-kehudeqia:before { content: "\e61a"; }
.icon-poszhifu:before { content: "\e61b"; }
.icon-xianjinzhifu:before { content: "\e61c"; }
.icon-quan1:before { content: "\e61d"; }
.icon-qianbao:before { content: "\e61e"; }
.icon-huodong:before { content: "\e61f"; }
.icon-huiyuanqia:before { content: "\e620"; }
.icon-liaochengqia:before { content: "\e621"; }
.icon-shiduanqia:before { content: "\e622"; }
.icon-chuzhiqia:before { content: "\e623"; }
.icon-yingyeehuizong:before { content: "\e625"; }
.icon-shangpinxinxiweihu:before { content: "\e627"; }
.icon-ticheng:before { content: "\e629"; }
.icon-yuangong:before { content: "\e62a"; }
.icon-kehu:before { content: "\e632"; }
.icon-weixinzhifu:before { content: "\e62e"; }
.icon-gexinghuashezhi:before { content: "\e62c"; }
.icon-shanghuxinxiwanshan:before { content: "\e62d"; }
.icon-booking_project:before { content: "\e63c"; }
.icon-zhmxfx:before { content: "\e63f"; }
.icon-iconfontkefu:before { content: "\e63d"; }
.icon-xiangqingmianfeitingche:before { content: "\e652"; }
.icon-ertong:before { content: "\e653"; }
.icon-fangwenguoderen:before { content: "\e65f"; }
.icon-weixinhuodong1:before { content: "\e64c"; }
.icon-dianneihuodong:before { content: "\e64d"; }
.icon-duanxinhuodong:before { content: "\e64e"; }
.icon-promessage:before { content: "\e654"; }
.icon-prostore:before { content: "\e655"; }
.icon-prowechat:before { content: "\e656"; }
.icon-meiwen:before { content: "\e657"; }
.icon-buy:before { content: "\e658"; }
.icon-kaoqin:before { content: "\e661"; }
.icon-paixu1:before { content: "\e664"; }
.icon-paixu2:before { content: "\e665"; }
.icon-paixu3:before { content: "\e666"; }
.icon-paixu0:before { content: "\e667"; }