<div [mwBusy]="loading" [style.left.px]="floatDialogModel.left" [style.top.px]="floatDialogModel.top" class="select-employee-wrap mw-shadow">
    <div class="select-employee-header">请选择服务人员</div>
    <div class="select-employee-body">
        <div *ngFor="let item of employeeList;let idx=index;" layout="row" class="select-employee-item">
            <mw-select flex="60"
                [allowClear]="true"
                [options]="employeeSource"
                [selectedItem]="item"
                placeholder="技师名称/工号"
                [style.zIndex]="99-idx">
            </mw-select>
            <select flex-offset="5" flex="35" [(ngModel)]="item.appoint">
                <option [value]="AppointTypeEnum.TIME">点钟</option>
                <option [value]="AppointTypeEnum.TURN">轮牌</option>
            </select>
        </div>
    </div>
    <div class="float-action">
        <span (click)="addEmployeeClick()" class="mw-click mw-primary" style="float:left;">
             <i class="fa fa-plus-circle"></i>添加服务人员
        </span>
        <!-- <button class="btn" (click)="cancelClick()">取消</button> -->
        <button class="btn btn-primary" (click)="okClick()">确定</button>
    </div>
</div>
