@import '../../styles/scss/color-const.scss';

.mw-order-employee-performance-component{
	.order-detail-wrap{
		margin:10px 15px;
	}
	.mw-order-employee-item{
		margin-top:10px;
		padding: 0px 10px;
	}
	.btn-add-employee{
		padding-bottom: 10px;
	}
}