.sign-component {
    height: 100vh;
    width: 100%;
    background-image: url("assets/images/sign-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    //background-color: #333;
    //overflow:hidden;
    .banner {
        height: 90px;
        padding: 15px 0;
        background-color: rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .bg-video{
        width:100%;
    }
}